.wrapper {
  background: #30353e;
  min-height: calc(100vh - 56px);
  color: #fff;
}
.hero-banner {
  background: #1f2225;
}
.mb-10 {
  margin-bottom: 30px;
}
.btn-grad {
  font-size: 20px;
  padding: 20px;
  background: #ec3c60;
  border-radius: 3px;
  margin: 50px auto;
  width: 200px;
}
.pair-image {
  width: 400px;
}
.pair-image  img {
  max-width: 100%;

}
.pair{
  color: #1f2225;
  background: #fff;
}

.text-pair {
  position: relative;
  top: 20%;
  left: 10%;
}